@charset "utf-8";
*{box-sizing:border-box;padding:0;margin:0;}
html,body{background:#f1f1f1;color:#666;-webkit-user-select:none;-webkit-tap-highlight-color: rgba(0,0,0,0);-webkit-tap-highlight-color:transparent;-webkit-user-select:none;-webkit-touch-callout:none;-webkit-touch-callout:none;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {margin:0;padding:0;}
body,input,button,select,textarea{font:12px/1.5 "Microsoft Yahei","Helvetica Neue";color:#495564;
	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
  	-moz-font-feature-settings: "liga","kern";}
h1,h2,h3,h4,h5,h6 {font-weight:normal;}
html, body, form, fieldset, p, div, h1, h2, h3, h4, h5, h6 {-webkit-text-size-adjust:none;}/*阻止旋转屏幕时自动调整字体大小*/
textarea{resize:none;}
/*取消按钮在inphone上的默认样式*/
input[type=button]{-webkit-appearance:none;outline:none}
input::-webkit-input-placeholder{color:#F0F0F0;}
textarea::-webkit-input-placeholder{color:#F0F0F0;}
input::-webkit-input-speech-button {display:none}
table {border-collapse:collapse;border-spacing:0;}
th {text-align:inherit;}
fieldset,img {border:none;}
abbr,acronym {border:none;font-variant:normal;}
del {text-decoration:line-through;}
ol,ul {list-style:none;}
caption,th {text-align:left;}
sub,sup {font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
sup {top:-0.5em;}
sub {bottom:-0.25em;}
ins,a,a:hover {text-decoration:none;}
a{color:#333;}
i,em{font-style:normal}
input{-webkit-appearance: none;}
a:focus,*:focus {outline:none;}
.clearfix:before,.clearfix:after {content:"";display:table;}
.clearfix:after {clear:both;overflow:hidden;}
.clearfix {zoom:1;}
.clear {clear:both;display:block;font-size:0;height:0;line-height:0;overflow:hidden;}
.hide {display:none;}
.block {display:block;}
.outL{white-space:normal;word-break:break-all;width:100px;}
.outH{overflow:hidden;text-overflow:ellipsis;white-space:nowrap; width:100px;}
/*布局*/
.fl{float:left;display:inline;}
.fr{float:right;display:inline;}
.cl:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.cl { zoom: 1; }
.rel{position:relative;}
.abs{position:absolute;}
.tac{text-align:center;}
.tal{text-align:left;}
.tar{text-align:right;}
.dib{display:inline-block;}
.vab{vertical-align:bottom;}
.vam{vertical-align:middle;}
.vat{vertical-align:top;}

/*网格*/
.box{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;height:100%;text-align:center;padding:5px 0;}
.grid,.wrap,.grid:after,.wrap:after,.grid:before,.wrap:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.grid{*zoom:1}
.grid:before,.grid:after{display:table;content:"";line-height:0}
.grid:after{clear:both}
.grid{list-style-type:none;padding:0;margin:0}
.grid>.grid{clear:none;float:left;margin:0 !important}
.wrap{float:left;width:100%}
/*网格*/

/*flex*/
.col{height:100%;display:-webkit-box;-webkit-box-orient:vertical;display:flex;display:-webkit-flex;flex-direction:column;}
.row{display:-webkit-flex;display:flex;-webkit-flex-wrap:wrap;flex-wrap:wrap;flex-direction:wrap;display:-webkit-box;-webkit-box-orient:horizontal;-webkit-box-lines:multiple;width:100%;height:auto;margin:auto;}
.flex1{-webkit-box-flex:1;-webkit-flex:1;flex:1;}
.flex2{-webkit-box-flex:2;-webkit-flex:2;flex:2;}
.flex3{-webkit-box-flex:3;-webkit-flex:3;flex:3;}
/*flex*/

/*容器*/
.wrapper{position:absolute;top:0;right:0;bottom:0;left:0;padding:0 0 50px 0;overflow:auto;margin-top:44px;overflow:scroll;-webkit-overflow-scrolling:touch;overflow-scrolling: touch;}
 
/*宽度*/
.w100p{width:100%}
.w20p{width:20%;}
 
/*边距*/
article{padding-bottom:50px;}
.he44{height:44px;}
.he50{height:50px;}
.m5{margin:5px;}
.p5{padding:5px;}
.p10{padding:10px;}
.pt5{padding-top:5px;}

/* ==== 左右箭头 ==== */
.arrowL{width:12px;height:12px;transform: rotate(-45deg);  -webkit-transform: rotate(-45deg);  -webkit-transition: all .3s;  transition: all .3s;}
.arrowR{position:relative;top:1px;margin-left:5px;display:inline-block;width:12px;height:12px;background:url(../img/img-more.png) no-repeat center center;background-size:contain;}
.borderR,.borderL,.borderT,.borderB,.border{position:relative;}
.borderR:after{z-index:100;position: absolute;content: '';top: 0;bottom: 0;right:0;width:1px;background-color:#cecece;-webkit-transform: scale(.5,1);transform: scale(.5,1);-webkit-transform-origin: right center;transform-origin:right center}
.borderB:after{z-index:100;position: absolute;content: '';left: 0;bottom: 0;width:100%;height:1px;background-color:#cecece;-webkit-transform: scale(1,.5);transform: scale(1,.5);-webkit-transform-origin: center bottom;transform-origin: center bottom}
.borderT:before{z-index:100;position: absolute;content: '';left: 0;top: 0;width:100%;height:1px;background-color:#cecece;-webkit-transform: scale(1,.5);transform: scale(1,.5);-webkit-transform-origin: center bottom;transform-origin: center bottom}
.border:before{z-index:100;position: absolute;content: '';left: 0;top: 0;width:100%;height:1px;background-color:#cecece;-webkit-transform: scale(1,.5);transform: scale(1,.5);-webkit-transform-origin: center bottom;transform-origin: center bottom}
.border:after{z-index:100;position: absolute;content: '';left: 0;bottom: 0;width:100%;height:1px;background-color:#cecece;-webkit-transform: scale(1,.5);transform: scale(1,.5);-webkit-transform-origin: center bottom;transform-origin: center bottom}

/*按钮*/
.borBtn-yellow{border:1px solid #e25c27;color:#e25c27;border-radius:4px;}
.bgBtn-yellow{background-color:#a16318;color:#fff;border-radius:4px;}
.bgBtn-grey{background-color:#ececec;color:#999;border-radius:4px;}

/*字体颜色*/
input::-webkit-input-placeholder,textarea::-webkit-input-placeholder  {  color: #999 !important;}
input:-moz-placeholder,textarea::-moz-input-placeholder {  color: #999 !important;}
input:-ms-input-placeholder,textarea::-ms-input-placeholder  {  color: #999 !important;}


/*-----------------头部------------------*/
header{height:44px;background:#fff ;position:relative; z-index:100; width:100%;}
.header .new-a-back{position:absolute;width:44px;height:44px;line-height:44px;text-align:center;color:#333;}
.header .new-a-back span{ position: relative;bottom: 12px;left: 20px;color: #108EEA;font-weight: bold;}
.header .new-a-back i{display:block;position:relative;top:16px;left:16px;width:12px;height:12px;border-top: #000 1px solid;border-left: #000 1px solid;transform: rotate(-45deg);  -webkit-transform: rotate(-45deg);  -webkit-transition: all .3s;  transition: all .3s;}
.header h2{color:#333;font-size:16px;font-weight:400;height:44px;line-height:44px;text-align:center;}
.header .right{height:44px;position:absolute;top:0;right:10px;line-height:44px;text-align:center;color:#333;font-size:14px;}
.header .right img{height:25px}

.loader {box-sizing: border-box;display: flex;flex: 0 1 auto;flex-direction: column;flex-grow: 1;flex-shrink: 0;flex-basis: 25%;max-width:92%;height:80vh;align-items: center;justify-content: center;}
.load-more{padding:20px;color:#f19149;line-height:30px;text-align:center;}
.spinner {
  width: 24px;
  height:24px;margin:0 auto 5px;
  background-color: #f19149;
  -webkit-animation: rotateplane 1.2s infinite ease-in-out;
  animation: rotateplane 1.2s infinite ease-in-out;
}
 
@-webkit-keyframes rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}
 
@keyframes rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
  } 50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
  } 100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
/*news*/
.news-list{padding:0 10px;}
.news-list .time{font-size:12px;color:#999;line-height:1em;text-align:center;padding:20px 0 10px;}
.news-list .item{display:block;width:100%;border-radius:5px;background:#fff;}
.news-list .item h3{ line-height:1em;font-size:14px;color:#2a3549;margin-bottom:8px; margin-bottom: 5px;}
.news-list .img-box{width:100%;height:0;padding-bottom:38%;line-height:1em;text-align:center;overflow:hidden;}
.news-list .img-box>img{width:100%;display:block;border-radius:5px 5px 0 0;}
.news-list .text-box{padding:10px 15px 5px;border-bottom:1px solid #dbdbdb;}
.news-list .text-box p{line-height:1.5em;font-size:12px;color:#999;overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:2; }
.news-list .toDetail{line-height:36px;font-size:14px;color:#2a3549;padding-left:15px;}
/*zixunshoucang*/
.consult-list{padding:15px;}
.consult-list li{width:100%;border-radius:5px; padding:5px 0;}
.consult-list .item{display:flex;width:100%; border-radius:5px; background:#fff;  padding:12px 14px;}
.consult-list .img-box {flex: 0 0 80px; height: 80px;}
.consult-list .img-box img{ width:80px; height:80px;border-radius: 5px;}
.consult-list .text-box{flex: 1; min-height:80px;padding-left: 10px;}
.consult-list .text-box h3{font-size:14px; color:#333;margin-bottom:5px;display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 1; white-space: normal; overflow: hidden; }
.consult-list .text-box p{line-height:1.5; font-size: 12px; color: #999;overflow: hidden; }
.consult-list .text-box .twoLine{ display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2; white-space: normal; margin-bottom:8px;}
.consult-list .text-box .time{flex: 1;font-size: 10px;color: #999;}
.consult-list .top-icon{height:18px; font-size:10px; color:#fff; background:#068cfe;  text-align:center; padding:0 5px;border-radius: 3px; margin-right:5px;}

/*Detail.html*/
.bulletin-detail{padding:20px 15px;}
.bulletin-detail .name{font-size:18px;line-height:1.7em;font-weight:bold;}
.bulletin-detail .time{font-size:12px;color:#999;line-height:1.5em;}
.bulletin-detail .detail{width:100%;padding-top:5px;}
.bulletin-detail .detail img{width:100%;margin:8px 0 5px;}
.bulletin-detail .detail p{font-size:14px;line-height:1.5em;}